html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

html, body {
	background: #181818;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #222;
}

p {
	font-size: 0.7em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	min-width: 600px;
	background: #f3f3f3;
	margin: 30px auto;
}

.clear {
	clear: both;
	margin-bottom: 25px;
}

.description {text-align: justify;}

.mainDetails {
	padding: 25px 35px 0 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name {
	float: left;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
}

#mainArea {
	padding: 0 40px;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.8em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover {
	color: #cf8a05;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.skillsSplit {
	width: 33%;
	display: inline-block;
	float: left;
	padding: 0;
}

#sectionOne .skillsSplit {
	float: right;
}

.interestbar {
	border: 2px solid #cf8a05;
	border-radius: 4px; /* (height of inner div) / 2 + padding */
	width: 75%;
	padding: 0;
	display: inline-block;
	margin-top: 5px;
	font-size: 0.7em;
	text-align: center;
}

.educationList {
	list-style-position: outside;
	margin-left: 1em;
	font-size: 0.7em;
}

.educationListColumned {
	list-style-position: outside;
	margin-left: 1em;
	font-size: 0.7em;
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
	column-gap: 25px;
	-moz-column-gap: 25px;
	-webkit-column-gap: 25px;
	margin-bottom: 15px;
}

#sectionOne .educationList {
	text-align: justify	;
	margin-bottom: 20px;
}

.keylist {
	list-style-type: none;
	font-size: 0.7em;
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
	-moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
	direction: rtl;
}

#sectionTwo .keylist {
	direction: ltr;
	float: left;
	margin-left: 0;
}

.keylist li {
	border: 2px solid #cf8a05;
	border-radius: 4px; /* (height of inner div) / 2 + padding */
	width: 80px;
	display: inline-block;
	margin-top: 5px;
	text-align: center;
}

.progressbar {
	background-color: #181818;
	border-radius: 4px; /* (height of inner div) / 2 + padding */
	width: 75%;
	padding: 0;
	display: inline-block;
	margin-top: 5px;
}

.progressbar > div {
	background-color: orange;
	height: 15px;
	border-radius: 3px;
	text-align: center;
	font-size: 0.7em;
	color: white;
}

.skillsClear {
	width:100%;
	height:5px;
}

.splitSection {
	float: left;
	width: 45%;
	display: inline-block;
	padding: 0 15px;
}

.splitSection:nth-child(1) {
	border-right: 2px solid #cf8a05;
	border-width: 3px;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#cf8a05), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(#cf8a05, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#cf8a05, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(#cf8a05, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #cf8a05, rgba(0, 0, 0, 0)) 1 100%;
	text-align: right;
}

.splitSection h1 {
	font-weight: 600;
	font-size: 1.2em;
	color: #cf8a05;
	margin-bottom: 10px;
}

.splitSection h2 {
	font-weight: 600;
	font-size: 0.8em;
	margin-bottom: -2px;
}

.splitSection h3 {
	font-weight: 600;
	font-size: 0.8em;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

@media all and (min-width: 800px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
}

@media all and (max-width: 800px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 510px;
	}
	#sectionOne {
		border: none;
	}
	#headshot {
		display: none;
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: right;
	}

	.splitSection {
		float: none;
		width: 100%;
	}
	h1, h2, h3, p, .description {
		text-align: right;
	}
	ul {
		direction: rtl;
	}
	ul li {
		list-style-position: outside;
		margin-right: 1em;
	}
	.skillsSplit {
		float: right;
		text-align: right;
	}
	.educationListColumned {
	list-style-position: inside;
	font-size: 0.7em;
	-moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
	margin-bottom: 10px;
	}
	#uni ul, #school ul {
		direction: rtl;
	}
	.keylist {
	list-style-type: none;
	font-size: 0.7em;
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
	-moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
	}
	.keylist li {
	border: 2px solid #cf8a05;
	border-radius: 4px; /* (height of inner div) / 2 + padding */
	width: 70%;
	display: inline-block;
	margin-top: 5px;
	text-align: center;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	#cv {
        width: 100%;
				padding-left: 5px;
    }
	ul.keylist {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
				-moz-column-gap: 0;
				-webkit-column-gap: 0;
				column-gap: 0;
				font-size: 1em;
				list-style-type: none;
		}
	ul.keylist li {
				float: right;
				text-align: center;
		}
}

@media print {
	.educationList, #uni ul, #school ul {
		direction: ltr;
		list-style-position: inside;
	}
  #cv {
        width: 100%;
    }
	#name h1 {
		width: 100%;
		text-align: center;
	}
	#name h2 {
		width: 100%;
		text-align: center;
	}
	#sectionOne {
		border-right: none;
	}
	#sectionTwo {
		float: right;
	}
	#sectionTwo h3 {
		text-align: left;
	}

	#sectionOne, #sectionTwo {
		width: 45%;
		display: inline-block;
	}
	#contactDetails{
		width: 100%;
		font-size: 0.9em;
		margin-top: 10px;
	}
	#contactDetails ul {
		list-style-type: none;
		margin-left: 40px;
		padding: 0;
		overflow: hidden;
	}
	#contactDetails li {
		float: left;
		margin: 0 5px;
	}
	html, body, h1, h2, p  {
		text-align: left;
		overflow: hidden;
		height: 98%;
	}
	div.progressbar > div {
		text-align: left;
	}
	ul.keylist {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-moz-column-gap: 5px;
		-webkit-column-gap: 5px;
		column-gap: 5px;
	}
	ul.keylist li {
		float: left;
		border: none;
		text-align: left;
	}
	ul.keylist li:first-child {
		margin-left: 0;
	}
	p.description {
		text-align: left;
	}
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
